@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Caveat", sans-serif;

    background: url('./img/фон1.png') 50% / 100% 100% no-repeat;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

span {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;

}

.audio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper-audio {
    padding: 20px 15px 20px 50px;
    background: #ffffff9c;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    position: relative;
    transition: .5s ease-out;
    bottom: -150%;

}

.wrapper-audio.onload {
    bottom: 0;
}

.wrapper-audio.onplay {
    animation: playMusic 2s infinite alternate;
    transition: 0.5s;
}

@keyframes playMusic {
    0% {
        background: #ffffff9c;
        outline: 0px solid #f2ff3eb4;
    }

    30% {
        outline: 10px solid #3eff5e81;
    }

    50% {
        outline: 5px solid #3eff5e81;
    }

    100% {
        background: #0bdd2eaf;
        outline: 10px solid #3eff5e81;
    }
}

.play {
    width: 30px;
    height: 30px;
    background: #ffffff;
    position: absolute;
    left: 15px;
    border-radius: 30px;
    border: 1px solid #00000046;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play .line1 {
    width: 15px;
    height: 3px;
    border-radius: 5px;
    background: #000000;
    transform: rotate(45deg) translateY(-4px);
    transition: transform .2s;

}

.play .line2 {
    width: 15px;
    height: 3px;
    border-radius: 5px;
    background: #000000;
    transform: rotate(-45deg) translateY(4px);
    transition: transform .2s;

}

.play.pause .line1 {
    transform: rotate(90deg) translateY(3px) translateX(1.5px);
    transition: transform .2s;
}

.play.pause .line2 {
    transform: rotate(90deg) translateY(-3px) translateX(-1.5px);
    transition: transform .2s;
}

.bg-animation {
    width: 100%;
    height: 100%;
}

.dance-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-repeat: no-repeat;
    background-size: 0%;
    background-position: center;

    transition:0.5s;


}

.dance-bg.dancing {
    animation: dance 2s ease-in-out infinite alternate;
    background-size:50%;
}

@keyframes dance {
    from {
        transform: rotate(14deg) translateX(50px);
    }

    to {
        transform: rotate(-20deg) translateX(-50px);
    }
}